<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="A1_CS_WS4.Properties.Settings.BDD_WS4nConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\BDD_WS4n.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>